<section class="why-us">
  <div class="why-us__head">Why Sinchu Constructions?</div>
  <div class="why-us__sub-head">Home Construction Company In Bangalore</div>
  <div>
    We, Sinchu Constructions & Interior designers at Bengaluru, have been
    designing and build inspiring and delightful residential spaces for our
    clients for over a decade. Home is where the heart is; home is not only a
    place for us to live in but is a reflection of our personal lifestyle
    preferences. We are a complete one-stop solution for Home construction, Home
    interior and Commercial interior designing services in Bangalore, so you get
    an all-in-one package without having to approach different companies for
    your needs.
  </div>
</section>
