<section class="our-promise">
  <div class="our-promise__head">Our Promise</div>
  <p>
    Your Project is our responsibility. Right from plan approval to handover,<br />
    we will manage and execute your entire project.
  </p>
  <div class="our-promise__content">
    <div class="our-promise__content--box">
      <img src="../../assets/images/trophy.png" alt="Trophy" />
      <p class="font-bold">Highest Quality Standard</p>
      <p class="our-promise__content--box-desc">
        All Services Provided by SVE Group are of Highest Quality Standards that
        always meet Customers Expectation
      </p>
    </div>
    <div class="our-promise__content--box">
      <img src="../../assets/images/guarantee.png" alt="Trophy" />
      <p class="font-bold">90 Days Warranty</p>
      <p class="our-promise__content--box-desc">
        We offer 90 Days service Warranty for all the projects we undertake and
        will be available within 48 hrs
      </p>
    </div>
    <div class="our-promise__content--box">
      <img src="../../assets/images/badge.png" alt="Trophy" />
      <p class="font-bold">Hassle-Free Experience</p>
      <p class="our-promise__content--box-desc">
        Once Project is Finalised, Our Trained Professionals will carryout and
        complete the task in an Efficient Manner
      </p>
    </div>
    <div class="our-promise__content--box">
      <img src="../../assets/images/clock.png" alt="Trophy" />
      <p class="font-bold">On-Time Completion</p>
      <p class="our-promise__content--box-desc">
        Our Organised and Planned Approach ensure that all the projects are
        completed with perfection and On-Time
      </p>
    </div>
  </div>
</section>
